@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220.65 40.26% 15.1%;
    --foreground: 220 20% 95%;
    --card: 240 30% 23.53%;
    --card-foreground: 220 20% 95%;
    --popover: 220 40% 22%;
    --popover-foreground: 220 20% 95%;
    --primary: 337.89 81.2% 45.88%;
    --primary-foreground: 220 20% 95%;
    --secondary: 32.14, 77.78%, 92.94%; 
    --secondary-foreground: 220 20% 95%;
    --muted: 240, 26.39%, 28.24%;
    --muted-foreground: 0 0% 100%;
    --accent: 180.85 61.74% 22.55%;
    --accent-foreground: 220 20% 95%;
    --destructive: 36.9 85.47% 54.12%;
    --destructive-foreground: 0 0% 0%;
    --border: 180.85 61.74% 22.55%;
    --input: 0 0% 100%;
    --ring: 337.89 81.2% 45.88%;
    --chart-1: 180.85 61.74% 22.55%;
    --chart-2: 180.85 61.74% 22.55%;
    --chart-3: 0 0% 100%;
    --chart-4: 337.89 81.2% 45.88%;
    --chart-5: 220 20% 30%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* Scroll personalizado */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  /* Grosor */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* Fondo del track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(337.89, 81.2%, 45.88%);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(337.89, 81.2%, 35%);
  /* Morado más oscuro */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsl(337.89, 81.2%, 45.88%) transparent;
}

/* Para el color destructivo, si tienes botones personalizados: */
.btn-destructive {
  background-color: hsl(36.9, 85.47%, 54.12%);
}

.btn-destructive:hover {
  background-color: hsl(36.9, 85.47%, 44%);
}

.text-lato {
  font-family: 'Lato', sans-serif;
}